
body{
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
}

.navbar{
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    width: 100.20%;
    background-color: black;
}
.backG{
    width: 100%;
    height: 70%;
    background-color: black;
    background-image: url('../Images/Curve.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 30%;
    z-index: 1;
}
.logo_image{
    height: 200%;
    z-index: 1;
}
.contact_links{
    display: flex;
    justify-content: space-evenly;
    height: 50%;
    width: 21%;
    margin-top: 30px;
}
.cont_links{
    height: 50%;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    width: 45%;
    border-radius:0 0 15px 0;
    background-color: black;
}
.navigation a{
    
    font-family: Arial;
    color: ghostwhite;
    font-size: 17pt;
    text-decoration: none;
    
}
.navigation a:hover
{
    color: grey;
}

.home_bg{
    background-image: url("../Images/Big Logo Warm.jpeg");
    background-position: center;
    background-size: 9.8%;
    background-repeat: repeat;
    height: 100%;
}
.home_motto{
    width: 50%;
    margin: 25% auto 0 auto;
    color: ghostwhite;
    font-size: 45px;
    text-align: center;
    font-family: Arial;
}

@media(max-width: 600px) {
    .home_motto{
        margin: 50% auto 0 auto;
        width: 70%;
        font-size: 30px;
    }

    .navigation a{
        font-size: 10pt;
    }
}

@media(max-width: 900px) {

    .navigation a{
        font-size: 12pt;
    }

    .contact_links{
        display: flex;
        justify-content: space-evenly;
        height: 50%;
        width: 21%;
        margin-top: 40px;
    }
    .cont_links{
        height: 30%;
    }
    .logo_image{
        height: 150%;
        z-index: 10;
    }
    .backG{
        width: 100%;
        height: 70%;
        background-color: black;
        background-image: url('../Images/Curve.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: space-between;
    }

    .home_motto{
        width: 70%;
        margin: 40% auto 0 auto;
        font-size: 1.8em;
    }
}
